

.header{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 10px 20px;
}

.header div img{
  width: 100%;
}

.input{
  width: 45vw;
  height: 50px;
  padding-left: 10px;
  background: #f3f3f3;
  margin-top: 5px;
}

.btn{
  padding: 0px 40px;
  font-size: 17px;
  height: 50px;
  margin-top: 5px;
  background: black;
  border-left: 1px solid #f3f3f3;
  color: #f3f3f3;

}

.main{
  width: 80%;
  height: 90vh;
  background: #f3f3f3;
  padding: 20px;
}

.aside{
  width: 20%;
  height: 90vh;
  background: #f3f3f3;
  margin-right: 20px;
  padding: 20px;
}

.footer{
  background-image: linear-gradient(135deg, #8970a1 0%,  #667eea 100%);
  padding: 50px 30px;
}

.change-font{
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 19px;
  margin-left: 5px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.hover {
  cursor: pointer;
  transition: all .2s;
}

.hover:hover{
  transform: translateY(-3px);
}